# Lesson 4 Working with Lists

In the previous lesson, we learned what a list was, how to access elements in a list by index or value, and how to add, modify, or remove an element from a list. 

Now we will learn something way more powerful. Loops.


### There are 2 ways to loop through a list, by element or by index

Let's look at some examples


#### Examples by element

First assign a variable to a list. In python the best practice is to use a word that makes sense and that is plural if the list contains more than 1 element.

In [1]:
bears = ['brown', 'american black', 'polar', 'asiatic black', 'spectacled', 'panda', 'sloth', 'sun']

Let's loop over the list by element. You can call the looping variable anything you want, but it is good coding practice for it to make sense to other people reading the code.

In [2]:
for bear in bears:
    print(bear)

brown
american black
polar
asiatic black
spectacled
panda
sloth
sun

As I said, we can loop over the list choosing whatever variable we like. Here are some examples that don't make as much sense.

In [ ]:
for cat in bears:
    print(cat)

In [ ]:
for x in bears:
    print(x)

So the syntax for a for loop is `for [variable] in [list]:`

In [ ]:
You must also put a `:` at the end of the for loop statement.

#### **FYI** The words `for` and `in` are key words in python and cannot be used as variables.

In [ ]:
for = 'three'

### A common bug is forgetting to indent when using for loops.

In [ ]:
for bear in bears:
print(bear)

Here the variable`bear` does not exist outside the *for loop* so Python will throw an error. But if you make an assignment within the for loop, python will not.

In [ ]:
for bear in bears:
    bear = bear.upper()
    print(bear)

In [ ]:
for bear in bears:
    bear = bear.upper()
print(bear)

#### Python can also iterate over letters in a string.

In [ ]:
bear = "panda"

for letter in bear:
    print(letter)

#### You can also "nest" loops

In [ ]:
bears = ['panda', 'brown']
for bear in bears:
    for letter in bear:
        print(letter)

#### You can even make a new list

In [ ]:
bears = ['panda', 'brown']

letters_in_bears = []

for bear in bears:
    for letter in bear:
        letters_in_bears.append(letter)

print(letters_in_bears)

## Using index to loop

#### To use index, usually denoted as `i`, you must know the length of the list (the number of elements that the list contains.)

There are 2 functions that you will need to use, `len()` and `range()`

In [ ]:
bears = ['brown', 'american black', 'polar', 'asiatic black', 'spectacled', 'panda', 'sloth', 'sun']

In [ ]:
length = len(bears)
print(length)

In [ ]:
for i in range(length):
    print(i)

In [ ]:
for i in range(len(bears)):
    element = bears[i]
    print(element)

#### The range() function in python can take 3 arguments:
1. start [optional] --> default = 0
2. stop [required]
3. step [optional] --> default = 1

   `range(start, stop, step)`

In [ ]:
for i in range(10):
    print(i)

The python range() function is NOT inclusive. So you must remember that the stop parameter will not be included. If range(5), 5 will not be included because python starts it's indexing at 0, not 1. So if you want to generate the numbers 1-5, you can write as follows:

In [ ]:
for i in range(1,6):
    print(i)

In [ ]:
length = 5

In [ ]:
for i in range(1,length+1):
    print(i)

### What if you wanted to generate a list of only even numbers up to a max limit? Or maybe you want the 8 times table?

In [ ]:
for i in range(2,20,2):
    print(i)

In [ ]:
for i in range(8,100,8):
    print(i)

### We can do operations on numbers within a loop to make a list.

Let's make a list of squares using numbers from 1 to 10.

In [ ]:
squares = []
for i in range(1,11):
    square = i**2
    squares.append(square)

print(squares)

#### A couple more examples with a list of numbers

In [ ]:
import random    ### Importing a python library called random

#### making a list of random integers
numbers = []
for i in range(20):
    random_number = random.randint(0,100)   ### random.randint(min,max) is a func that returns a random integer in range of min-max
    numbers.append(random_number)

print(numbers)

In [ ]:
numbers.sort()  ### you can use the sort() function
print(numbers)

In [ ]:
numbers.sort(reverse=True)
print(numbers)

import numpy as np
print(max(numbers))
print(sum(numbers))
print(np.mean(numbers))

## Bonus: Fancy ways of working with list using `enumerate()` and `map()`

In [1]:
### Enumerate is used if you want to have BOTH the index and the value to work with within a single for loop

cats = ['orange', 'black', 'calico', 'short hair', 'long hair']

for index, value in enumerate(cats):
    print(index, value)

0 orange
1 black
2 calico
3 short hair
4 long hair

In [2]:
### The map() function is a way to simplify code 

### 1. Given a set of x values, find y if y = 3x -5

### The map() function takes a function and an iterable (list, set, dict, tuple). It is an easy way to use a function on every element
### in the iterable. 
### So here, for every x value we need to find the correspoding y value by putting x into the formula 3x - 5.

### There are 2 ways we can do this using the map() function. 1. Write a function or use lambda.

def formula(x):
    
    y = 3 * x - 5
    
    return y


x_values = [2, 5, 7, 9, 3, 10, 12]

### Without using map, you would set up a for loop

y_values = []

for x in x_values:
    y = formula(x)
    y_values.append(y)

print(y_values)

[1, 10, 16, 22, 4, 25, 31]

In [3]:
### Using the map() function, we don't have to write a for loop at all. Only 1 line

y_values = list(map(formula, x_values))

print(y_values)

[1, 10, 16, 22, 4, 25, 31]

In [4]:
### You can make this even more simple by using a lambda function, so you don;t have to write the formula() function

y_values = list(map(lambda x: 3*x-5, x_values))
print(y_values)

[1, 10, 16, 22, 4, 25, 31]